
@inject UnitOfWork unit

@using ShopProject.TagHelpers;
@{ 

    var basket_amount = @unit.GetAmountOfGoodInBasket();
    var liked_amount = @unit.GetAmountOfLikedGoods();
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShopProject</title>


    @RenderSection("External_Links", false)

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    @RenderSection("Internal_Links", false)

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Layout.css"/>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js" > </script>

    @*OTHER*@
   

    

    
</head>

<body>
    <header>





        @*Nav bar*@
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm   border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar nav-container justify-content-between">
                    <ul class="navbar-nav " style="margin-right:15px !important; position:relative">

                        <div class="dropdown-close-wrapper" style="width: 32px;"> <a id="dropdown-close">X</a></div>

                        <li class="nav-item" id="dropdown-open">
                            <a style="display: block; width: 32px;">

                                <i style="color:grey;width: 32px;font-size: 36px;" class="fa fa-bars">
                                </i>
                            </a>
                        </li>

                        <li class="nav-item hide-li"><a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a></li>





                        <li class="nav-item hide-li" style="position:relative;">
                            <div class="adropdown  nav-link text-dark">
                                <a class="adropbtn">
                                    Catalog
                                    <i class="fa fa-caret-down"></i>
                                </a>
                                <div class="adropdown-content">
                                    <categories orientation=Horizontal></categories>
                                </div>
                            </div>
                        </li>

                    </ul>
                    <div class="search-div">
                        <form id="Search-form" method="post" style="width:100%;display: flex;/*! background: #f7f7f7; *//*! border-radius: 12px; *//*! border: none; *//*! transition: background .3s; *//*! Z-index: 2; */align-content: center;" asp-action="Search" asp-controller="Good">
                            <input class="Search-input" name="Search_text" type="text" placeholder="Search.." id="Search-input" style="border:none !important;flex-grow: 1;background: #f2f2f2;border-radius: 8px 0px 0px 8px;border: none;transition: background .3s;padding: 7px;padding-left: 14px;">
                            <input name="__RequestVerificationToken" type="hidden" value="CfDJ8JLf8G04bNNMlgEuSY830Oquv3O0oiwt4NYnodC4pA1iJEoy2qXvEAYtJk29B1NskdMjO17GCJ80IRGttNRlPz5A0ENVoINjMK4NqzGFkZj4iQzSaEjEBA0djLtoEvufOnfsBjKHW5nsIQQqiOyQGSLkdUXVJzWOnNa-onSfYN3QJ1J2D-MctiWi1rlswrsJxA">
                            <div style="border-radius: 0px 8px 8px 0px;background: #f2f2f2 !important;position: relative;flex-basis: 39px;min-width: 25px;padding-right: 14px !important;">

                                <a id="input-anchor" style="width: 60%;height: 60%;display: inline-block;position: absolute;transform: translate(-50%,-50%);left: 50%;top: 50%;">
                                    <svg width="17" height="17" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M13.336 13.335L18 18m-2.665-9.494a6.828 6.828 0 11-13.656 0 6.828 6.828 0 0113.656 0z" stroke="#AFAFAF" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round">


                                        </path>
                                    </svg>
                                </a>
                            </div>
                        </form>
                    </div>
                    <ul class="navbar-nav account-ul" style="position: relative;">
                        <div class="account-block" >
                            <a class="account-desk-a"> First </a>
                            <a class="account-desk-a"> First </a>
                            <a class="account-desk-a"> First </a>
                        </div>
                        @if (User.Identity.IsAuthenticated == true)
                        {
                            <li class="nav-item">
                                <a asp-action="Index" class="nav-link text-dark"
                                   asp-controller="Basket">Basket <img src="~/basket.svg" style="width:20px; height:20px;" /> : @basket_amount </a>
                            </li>
                            <li class="nav-item hide-li">
                                <a class="nav-link text-dark" asp-area=""
                                   asp-controller="LikedGood" asp-action="Index"><img src="~/liked.svg" style="width:20px; height:20px;" />:@liked_amount</a>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated == false)
                        {
                            <li class=" nav-item hide-li">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">
                                    Login
                                    <img src="~/account.svg" style="width:20px; height:20px;" />
                                </a>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated == true)
                        {
                            <li class="account-show nav-item hide-li" style="z-index:4;">
                                <a class="nav-link text-dark" asp-area=""
                                   asp-controller="Account" asp-action="Index">
                                    <img src="~/account.svg" style="width:20px; height:20px;" />
                                </a>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </nav>
        <div id="dropdown-wrapper">
            <div id="dropdown-block">
                <div class="dropdown-shadow"></div>

                <div class="dropdown-elem">
                    <a class="nav-link text-dark" asp-area=""
                       asp-controller="LikedGood" asp-action="Index"><img src="~/liked.svg" style="width:20px; height:20px;" />Liked: @liked_amount</a>

                </div>
                @if (User.Identity.IsAuthenticated)
                {

            <div class="dropdown-elem">
                <div class="account-dropdown-parent">
                    <a class="nav-link text-dark" onclick="account_anchor_click(this)">
                        <img src="~/account.svg" style="width:20px; height:20px;" />
                        Account <i class="fa fa-caret-down"></i>
                    </a>
                    <div id="account-dropdown-children" style="display: none;">
                        <a asp-action="Index" asp-controller="Account"> Data</a>
                        <a> Orders </a>
                        <a asp-action="Logout" asp-controller="Account"> Logout</a>
                    </div>
                </div>
                    
            </div>
                }
                @if (!User.Identity.IsAuthenticated)
                {
                <div class="dropdown-elem">
                    <a class="nav-link text-dark " asp-area=""
                       asp-controller="Account" asp-action="Index"><img src="~/account.svg" style="width:20px; height:20px;" />Login</a>

                </div>
                }
                <div class="nav-item dropdown-elem" style="position:relative;">
                    <div class="adropdown-v  nav-link text-dark" style="display:flex; width:100%!important;
                        justify-content:center">
                        <a class="adropbtn">
                            Catalog
                            <i onclick="category_icon_click(this)" class="fa fa-caret-down"></i>

                        </a>

                        <div class="subcategory-v">
                            <categories orientation=Vertical Mobile="true"></categories>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            <div class="row" style="justify-content: center !important; width: 100% !important;">
                <div class="footer-col">
                    <h3> TechnoShop </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum dicta fugiat ea
                        All rights reserved
                    </p>

                    <ul>
                        <li> <a><img src="~/Images/inst.png"></a></li>
                        <li> <a><img src="~/Images/tg.png"></a></li>
                        <li> <a><img src="~/Images/fb.png"></a></li>
                    </ul>

                </div>
            </div>

        </div>
    </footer>

    
    

</body>
<script type="text/javascript" src="~/js/Layout.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</html>
