@model IEnumerable<ShopProject.Models.User>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row header">
        <div class="col-1">Email</div>
        <div class="col-1">Name</div>
        <div class="col-2">Last Name</div>
        <div class="col-2"> Actions</div>
    </div>
    @foreach (var user in Model)
    {
        <div class="row">
            <div class="col-1">@user.Email</div>
            <div class="col-1">@user.Name</div>
            <div class="col-2">@user.LastName</div>
            <div class="col-1">
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
            </div>
            <div class="col-1">
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@user.Id"> Delete</a>
            </div>
        </div>
    }
</div>
<style>

    .col-1{
        min-width:100px !important;
    }
    .row {
        flex-wrap: nowrap !important;
        overflow: hidden !important;
    }

        .row.header div {
            font-size: 16px;
        }

        .row > * {
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid black;
        }
</style>